<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--  在控制台打印SQL  上线的时候需要关闭-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>

        <!--        立即加载设置false-->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--        开启懒加载  级联查询-->

        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>

</configuration>